@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gestione Magazzino</h1>
    <p>Fatto da Acevedo Martin, Birolini Alessia e Muraru Leonardo</p>
</div>
